# App
APP_ENV=development
SERVER_PORT=8083

# MinIO — same instance as processing-service
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_PROCESSED_BUCKET=processed-videos

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=yourredispassword
REDIS_DB=0

# JWT
JWT_SECRET=random_string

# Streaming
STREAM_SESSION_TTL=3600        # seconds — 1 hour session
STREAM_PRESIGN_TTL=300         # seconds — 5 min presigned URL TTL
STREAM_MAX_SESSIONS_PER_USER=3 # max concurrent streams per user

# Consul
CONSUL_HOST=localhost
CONSUL_PORT=8500
SERVICE_NAME=streaming-service
SERVICE_PORT=8083
